* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

background: linear-gradient(180deg, #ffffff, #dcdbe7, #bab7cf, #9895b7, #77759f, #565689, #333972, #021e5c);
}

#search-form {
  font: inherit;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #333ac1;
}
